<!DOCTYPE html>
<html lang="en">
{% load static %}
{%load leaflet_tags%}
<head>
    <meta charset="UTF-8">
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Our home</title>
    <style type="text/css">
        #gis {width: 80%; height:700px}
    </style>
    <link type="text/css" rel="stylesheet" href="routing/leaflet-routing-machine.css">

    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet.groupedlayercontrol.min.js' %}"></script>
</head>
<body>
<h2>Pozzz</h2>
<br>
    <link type="text/css" rel="stylesheet" href="dist/leaflet.groupedlayercontrol.min.css">
    <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.min.js' %}"></script>
<script type="text/javascript">

    function our_layers(map,options){
        var osm = 'http://{s}.tile.openstreetmap,org/{z}{y}{x}.png';
        var datasets = new L.GeoJSON.AJAX("{% url "county" %}",{
        onEachFeature: function(feature, layer){
        layer.bindPopup(feature.properties.name_1.toString())
        }
        });
        var points = new L.GeoJSON.AJAX("{% url "incidences" %}",{
        onEachFeature: function(feature, layer){
        layer.bindPopup(feature.properties.name.toString())
        }
        });
        datasets.addTo(map);
        points.addTo(map)
        var baseLayers={
            "OSM":osm
        }
        var groupedOverlays = {
          "Layers": {
            "county": datasets,
            "incidecnces": points
          }
          };
          L.Routing.control({
          waypoints: [
            L.latLng(44.78, 20.44),
            L.latLng(43.58, 19.52)
          ]
        }).addTo(map);

        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
    }
</script>
{% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>